{{#> layout/base }}
{{#*inline "content-block"}}

{{#unless (eq category.path '$') }}
<div style="margin: 1rem 0">
  {{#split (plus '$.' (removePrefix '$.' category.path )) '.' }}
  {{#if @last}}
  <h2 style="margin-top: 0;">
    <a href="/list/{{ prefix }}.{{ part }}">{{ part }}</a>
  </h2>
  {{else}}
  <a href="/list/{{removePrefix '.' (plus prefix (plus '.' part))}}">{{ part }}</a>

  {{#unless @oneBeforeLast }}
  <small> > </small>
  {{/unless}}
  {{/if }}
  {{/split }}
</div>
{{/unless}}

{{#if category.childrenNames.length }}
<h4>Podkategorije</h4>
<ul>
  {{#each category.childrenNames }}
  <li><a href="/list/{{ @root.category.path }}.{{ this }}">{{ this }}</a></li>
  {{/each }}
</ul>
{{/if}}

<div style="position: relative;">
  <div class="card" style="position: absolute; right: calc(100% + 1rem); width: 20rem; padding: 0.5rem;">
    <h4>Filtri</h4>

    <form method="GET" action="">
      {{#eachKey category.fields }}
      <div class="field-filter">
        <label>{{ key }}</label>
        <br />

        {{#if (eq value.type 'CATEGORICAL') }}
        {{#each value.categorical.members }}
        <input type="checkbox" name="f.{{ ../key }}" id="{{ ../key }}-{{ this }}" value="{{ this }}"
          {{#if (isFieldChecked @root.lastQuery ../key this) }}checked{{/if}}>
        <label for="{{ ../key }}-{{ this }}"> {{ this }}</label>
        <br />
        {{/each }}
        {{/if }}
        {{#if (eq value.type 'NUMERIC') }}
        <input type="number" name="f.{{ key }}.min" placeholder="{{ value.numeric.min }}"
          value="{{lookup @root.lastQuery (plus 'f.' (plus key '.min') ) }}">
        -
        <input type="number" name="f.{{ key }}.max" placeholder="{{ value.numeric.max }}"
          value="{{lookup @root.lastQuery (plus 'f.' (plus key '.max') ) }}">
        {{ value.numeric.unit }}
        <br />
        {{/if }}

      </div>
      {{/eachKey }}
      <br>
      <button type="submit">Filtriraj</button>
    </form>
  </div>
</div>

<h3>Ponudbe</h3>

<small>Vseh: {{ offerPage.total }}</small>

<div class="row">
  {{#each offerPage.content }}
  <div class="col">
    <article class="card">
      <a class="no-link" href="/offer/{{id}}">
        <div style="padding: 1rem;">

          <h5>{{ title }}</h5>

          {{#if price }}
          {{ price.amount }} {{ price.currency }}
          {{/if}}

          <br />

          {{#eachKey @root.category.fields }}

          {{#if (lookup (lookup @root.offerQuery 'fields') key) }}
          {{#with (lookup ../fields key) }}
          <small>{{ ../key }}: </small>{{ this }} {{ ../value.numeric.unit }}<br />
          {{/with }}
          {{/if}}

          {{/eachKey }}

          <img height="150" src="{{ images.[0] }}" />
        </div>
      </a>
    </article>
  </div>
  {{/each }}
</div>

{{/inline}}
{{/layout/base}}